.u-section-1 .u-sheet-1 {
  min-height: 649px;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  font-weight: 700;
  font-size: 4.5rem;
  margin: 100px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  font-style: italic;
  font-weight: 700;
  font-size: 4.5rem;
  margin: 25px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 15px auto 60px;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}