.u-section-1 .u-sheet-1 {
  min-height: 383px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 321px;
  margin: 59px -126px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -245px auto 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 321px;
  margin: -155px auto 0 -180px;
}

.u-section-1 .u-text-2 {
  margin: -162px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 303px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
    margin-top: -9px;
    margin-right: -135px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -47px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 191px;
    margin-top: -204px;
    margin-left: -148px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 17px;
    margin-bottom: 17px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 418px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 31px 322px 0;
}

.u-section-2 .u-text-2 {
  margin: 22px 322px 0;
}

.u-section-2 .u-image-1 {
  width: 284px;
  height: 351px;
  margin: -323px auto 60px 113px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 222px;
    margin-left: 222px;
    width: 496px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 222px;
    margin-right: 222px;
    width: 496px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 112px;
    margin-left: 112px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 112px;
    margin-right: 112px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 22px;
    margin-left: 22px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-2 .u-image-1 {
    width: 234px;
    height: 277px;
    margin-top: -214px;
    margin-bottom: 0;
    margin-left: -103px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 200px;
    height: 200px;
    margin-top: -222px;
    margin-bottom: 43px;
    margin-left: -85px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-group-1 {
  background-image: none;
  min-height: 500px;
  margin-top: 4px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 11px 0;
}

.u-section-3 .u-image-1 {
  width: 881px;
  height: 459px;
  margin: 10px -230px 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: -442px auto 0 38px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 371px 0 38px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 386px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-right: 166px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 281px;
    margin-top: 209px;
    margin-right: -135px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -452px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 8px;
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 320px;
    height: 195px;
    margin-top: 283px;
    margin-right: -87px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -451px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 4px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 194px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 22px auto 0;
}

.u-section-4 .u-image-1 {
  width: 100px;
  height: 100px;
  margin: 6px auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 100px;
  height: 100px;
  margin: -100px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -97px 22px 0 auto;
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 5px auto 0 115px;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  margin: -39px 307px 0 auto;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -39px 0 37px auto;
}

.u-section-4 .u-icon-1 {
  vertical-align: 0px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-2 {
    margin-top: -101px;
    margin-left: 368px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -96px;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 272px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 100px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 54px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 22px;
    margin-bottom: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -13px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -184px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 48px;
    margin-right: auto;
    margin-left: 100px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -39px;
    margin-bottom: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-1 {
    margin-top: -2px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -25px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -163px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 3px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    margin-left: auto;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 46px;
    margin-right: auto;
    margin-bottom: 13px;
  }
}