---
import Layout from "../layouts/default.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="">
    <div class="py-8 md:px-32">
        <div class="bg-[url('/banner.png')] h-64 bg-cover bg-center rounded-lg border-2 border-neutral-content p-4" />
        </div>
        <div class="mt-8 text-center">
            <h1 class="text-4xl font-bold">Funasitien - Blog</h1>
            <p class="text-lg text-base-content/70 mt-2">Bienvenue sur mon site personnel !</p>
        </div>
    </div>
</Layout>
