---
import Layout from "../layouts/default.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
    <div class="p-8">
        <div class="bg-[url('/banners/white.png')] h-64 bg-cover bg-center rounded-lg border-2 border-neutral-content p-4" />
        </div>
        <div class="mt-8 text-center">
            <h1 class="text-4xl font-bold">Funasitien - Contact</h1>
            <p class="text-lg text-base-content/70 mt-2">Besoin de me contacter ? Utiliser un des liens ci-dessous :</p>
        

        <div class="grid grid-cols-1 md:grid-cols-2 mt-12 gap-4 px-4">
            <div class="flex flex-col gap-4">
                <h3 class="text-xl font-bold pb-4">Me contacter</h3>
                <a class="btn" href="mailto:hello@funa.dev">
                    hello@funa.dev
                </a>
                <a class="btn" href="mailto:contact@democraft.fun">
                    contact@democraft.fun
                </a>
            </div>
            <div class="flex flex-col gap-4">
                <h3 class="text-xl font-bold pb-4">Mes Résaux</h3>
                <a class="btn" href="https://discord.com/users/123456789" target="_blank">
                    Discord
                </a>
                <a class="btn" href="https://instagram.com/fdreamcloud" target="_blank">
                    Instagram
                </a>
                <a class="btn" href="https://bsky.app/profile/funa.dev" target="_blank">
                    Bluesky
                </a>
            </div>
        </div>

        </div>
    </div>
</Layout>
