---
import Layout from "../layouts/main.astro";
import Exps from '../components/Experience.astro'
import { Icon } from "astro-icon/components";
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/800.css';
import '@fontsource/poppins/900.css';
---

<Layout>
  <h1 class="font-black text-6xl text-center pt-24">Mon Experience</h1>
  <p class="text-center py-2">Blablabla</p>
  <div class="mx-auto">
    <ul class="timeline">
      <ul class="timeline timeline-vertical max-md:timeline-compact">

        <Exps title="Dragonix Craft" description="Descrition" date="04/05/2019" type="start"/>
        <Exps title="DEMOCRAFT V1" description="Descrition" date="xx/xx/2022" />
        <Exps title="DEMOCRAFT V1" description="Descrition" date="18/07/2022" />
        <Exps title="La Taverne Du Survivant" description="Descrition" date="04/01/2023" icon="mingcute:add-circle-fill" />
        <Exps title="DEMOCRAFT V2" description="Descrition" date="06/01/2023" />
        <Exps title="DEMOCRAFT V3" description="Descrition" date="05/08/2023" image="/img/logo/democraft.png"/>
        <Exps title="HubGames" description="Descrition" date="265" icon="mingcute:add-circle-fill" />
        <Exps title="Hetonia" description="Descrition" date="30/11/2023" image="/img/logo/hetonia.png" icon="mingcute:add-circle-fill"/>
        <Exps title="DreamClouds" description="Descrition" date="01/12/2023" />
        <Exps title="Hetonia" description="Descrition" date="25/12/2023" image="/img/logo/hetonia.png" icon="mingcute:square-arrow-up-fill"/>
        <Exps title="Hetonia" description="Descrition" date="04/02/2024" image="/img/logo/hetonia.png" type="end" color="danger"/>
        
      </ul>
    </ul>
  </div>
</Layout>
