---
import Layout from "../layouts/home.astro";
import { Icon } from "astro-icon/components";
import BentoGrid from "../components/BentoGrid.astro";
import Card from "../components/Card.astro";
---

<Layout title="Funasitien DreamCloud">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="md:mr-32">
            <div
                class="flex flex-row max-sm:justify-center max-sm:items-center md:flex-col py-2"
            >
                <img
                    src="https://github.com/Funasitien.png"
                    alt="Avatar"
                    class="w-18 h-18 md:h-44 md:w-44 rounded-full mb-4 border-2 border-base-300 mr-4"
                />
                <h1 class="text-3xl md:text-4xl font-bold mb-2">Funasitien</h1>
            </div>
            <p>
                Hello there! I'm Funasitien, a passionate developer and tech
                enthusiast. This is my personal website where I share my
                projects, blog posts, and more about my journey in the world of
                technology. Feel free to explore and connect with me!
            </p>
        </div>
        <div class="">
            <BentoGrid>
                <Card
                    href="/projects"
                    title="Twitch"
                    description="Check out my latest work and experiments."
                    color="bg-purple-100 border-purple-300"
                    icon="/logos/twitch.png"
                    icon_color="bg-[#9146FF]"
                    width="4"
                    height="2"
                />
                <Card
                    href="/about"
                    title="Youtube"
                    icon="tabler:brand-youtube"
                    width="2"
                    height="2"
                    description="Who I am."
                />
                <Card
                    href="https://github.com/funasitien"
                    title="BlueSky"
                    icon="tabler:brand-bluesky"
                    width="2"
                    height="2"
                    description="@funasitien"
                />

                <Card
                    href="/blog"
                    title="GitHub"
                    icon="tabler:brand-github"
                    width="2"
                    height="4"
                    description="Read my thoughts on tech, life, and everything in between."
                />
                <Card
                    href="/stack"
                    title="Tech Stack"
                    icon="tabler:stack-2"
                    width="2"
                    height="2"
                    description="Tools I use."
                />
                <Card
                    href="/gallery"
                    title="Photography"
                    icon="tabler:camera"
                    width="4"
                    height="2"
                    description="Capturing moments."
                />

                <Card
                    href="/music"
                    title="Music"
                    icon="tabler:headphones"
                    width="4"
                    height="4"
                    description="What I'm listening to."
                />
                <Card
                    href="/contact"
                    title="Contact"
                    icon="tabler:mail"
                    width="2"
                    height="2"
                    description="Get in touch."
                />
                <Card
                    href="/contact"
                    title="Contact"
                    icon="tabler:mail"
                    width="2"
                    height="2"
                    description="Get in touch."
                />
                <Card
                    href="/contact"
                    title="Contact"
                    icon="tabler:mail"
                    width="2"
                    height="2"
                    description="Get in touch."
                />
            </BentoGrid>
        </div>
    </div>
</Layout>
