---
import Layout from "../layouts/main.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Funasitien DreamCloud">
    <div class="min-h-[75vh] flex justify-center items-center flex-row">
        <img class="w-64 h-64" src="/renders/box_construction.png" alt="Rendu 3D 1" />
        <div>
            <h1 class="text-4xl font-bold">En construction</h1>
            <p class="text-lg">Version de développement du portfolio.</p>
        </div>
        <img class="w-64 h-64" src="/renders/under_construction.png" alt="Rendu 3D 2" />
    </div>
</Layout>
