---
import Layout from "../layouts/default.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Accueil">
    <div class="md:py-8 md:px-32">
        <div
            class="bg-[url('/banners/classic.png')] h-32 md:h-64 bg-cover bg-center rounded-lg border-2 border-neutral-content p-4"
        >
        </div>
        <div class="mt-8 py-8 text-center">
            <h1 class="text-4xl font-bold">Funasitien</h1>
            <p class="text-lg text-base-content/70 mt-2">
                Bienvenue sur mon site personnel !
            </p>
            <div class="flex flex-col md:flex-row gap-4 justify-center mt-4">
                <a href="/projets" class="btn md:w-48">
                    <Icon
                        name="gravity-ui:circle-number-1"
                        class="inline mr-2 text-lg"
                    />
                    Premier Bouton
                </a>
                <a
                    target="_blank"
                    href="https://go.funa.dev"
                    class="btn md:w-48"
                >
                    <Icon name="gravity-ui:link" class="inline mr-2 text-lg" />
                    Mes Réseaux
                </a>
            </div>
        </div>
        <div class="divider magic text-base-content/20">
            Here lies a wonderful citation
        </div>
        <div class="py-8">
            <h1 class="text-4xl font-bold">À Propos de moi</h1>
            <p class="text-lg text-base-content/70 mt-2">
                Bonjour ! Moi c'est <strong>Funasitien</strong>, développeur
                passioné depuis plus de 5 ans. Après avoir découvert le
                développement web en 2018, j'ai décidé de me spécialiser dans ce
                domaine
                <br>
                Spécialiste incontestable de Minecraft et toujours de bonne humeur !
            </p>
        </div>
        <div class="divider magic text-base-content/20">
            This guy is addicted to Minecraft
        </div>
        <div class="py-8">
            <h1 class="text-4xl font-bold">Backend</h1>
            <p class="text-lg text-base-content/70 mt-2 inline">
                Je ne me suis pas limité au design web pour autant ! J'ai
                développé au fils des années des cométences en tant que
                développeur backend, notamment avec les différents plugins que
                j'ai pu développer pour <a class="link link-secondary inline-flex items-center gap-1"
                    >
                    <img src="https://us-east-1.tixte.net/uploads/cdn.democraft.fr/logo-vide.png" alt="DEMOCRAFT's Logo" class="w-5 h-5" />
                    DEMOCRAFT</a
                > et <a class="link link-secondary inline-flex items-center gap-1">
                    <img src="https://vaatigames.ovh/img/vaati2.png" alt="Vaatigame's Logo" class="w-5 h-5" />
                    Vaatigames</a>. Ces projets
                m'ont permis de me familiariser avec le langage <strong
                    class="inline-flex items-center gap-1"
                    ><Icon name="ri:java-line" /> Java</strong
                > et le framework <strong class="inline-flex items-center gap-1"
                    ><Icon name="simple-icons:spigotmc" /> Spigot/Bukkit</strong
                >, ainsi qu'une ribambelle d'outils d'hébergement, tel que <strong
                    class="inline-flex items-center gap-1"
                    ><Icon name="gravity-ui:logo-docker" /> Docker</strong
                >, <strong class="inline-flex items-center gap-1"
                    ><Icon name="simple-icons:kubernetes" /> Kubernetes</strong
                >, <strong class="inline-flex items-center gap-1"
                    ><Icon name="simple-icons:pterodactyl" /> Pterodactyl</strong
                > et bien d'autres.
            </p>
        </div>

        <div class="divider magic text-base-content/20">
            When code become art
        </div>
        <div class="py-8">
            <h1 class="text-4xl font-bold">Frontend & Design</h1>
            <p class="text-lg text-base-content/70 mt-2">
                Je maitrise plusieurs frameworks et langages, notamment <strong class="inline-flex items-center gap-1"
                    ><Icon name="simple-icons:astro" /> Astro</strong
                >,
                    <strong class="inline-flex items-center gap-1"
                    ><Icon name="simple-icons:javascript" /> Javascript</strong
                >, <strong class="inline-flex items-center gap-1"
                    ><Icon name="simple-icons:react" /> React</strong
                >, <strong class="inline-flex items-center gap-1"
                    ><Icon name="simple-icons:laravel" /> Laravel</strong
                >, et bien d'autres. J'ai développé au fils des années une
                petite fixette sur le design. C'est pour cette raison que je
                tente souvent de nouvelles interfaces sur ce portfolio !
            </p>
        </div>
    </div>
</Layout>
