---
import Layout from "../layouts/main.astro";
import { Icon } from "astro-icon/components";

import HeroLeft from "../components/HeroLeft.astro";
import HeroRight from "../components/HeroRight.astro";
import ProjectsGrid from "../components/ProjectsGrid.astro";
---

<Layout title="Funasitien DreamCloud">
    <div class="min-h-[75vh] flex justify-center items-center flex-col md:flex-row">
        <img class="w-64 h-64" src="/renders/box_construction.png" alt="Rendu 3D 1" />
        <div>
            <h1 class="text-4xl font-bold">En construction</h1>
            <p class="text-lg">Version de développement du portfolio.</p>
            <p>[fønazisiɛ̃]</p>
        </div>
        <img class="w-64 h-64" src="/renders/under_construction.png" alt="Rendu 3D 2" />
    </div>
    <HeroLeft
        title="Funasitien DreamCloud"
        alt="Developpeur Web Fullstack"
        image_url="/emojis/Writing Hand.png"
        image_text="Emoji d'une main qui écrit"
        image_class="bg-primary p-8"
        button_text="#"
        icon="#"
        >
        Bonjour ! Moi c'est Funasitien, développeur, graphiste et modélisateur depuis 2018
    </HeroLeft> 
    <HeroRight
        title="Funasitien DreamCloud"
        alt="Developpeur Web Fullstack"
        image_url="/emojis/Crystal Ball.png"
        image_text="Emoji d'une main qui écrit"
        image_class="bg-primary p-8"
        button_text="#"
        icon="#"
        >
        Mais que vais-je bien écrire ici ?
    </HeroRight>
    <h1 class="mt-6 font-bold text-2xl md:text-4xl flex justify-center items-center w-full"> Mes Projets</h1>
    <h3 class="magic text-lg text-center mt-2 mb-8">azertyuiopqsdfghjklmwxcvbn</h3>
    <ProjectsGrid/>
</Layout>
