---
import Layout from "../layouts/default.astro";
import { Icon } from "astro-icon/components";
import CardSection from "../components/CardSection.astro";
import Card from "../components/Card.astro";
---

<Layout title="Projets">
    <div class="p-8">
        <div class="bg-[url('/banners/cool.gif')] h-64 bg-cover bg-center rounded-lg border-2 border-neutral-content p-4" />
        </div>
        <div class="mt-8 text-center">
            <h1 class="text-4xl font-bold">Funasitien - Projets</h1>
            <p class="text-lg text-base-content/70 mt-2">Bienvenue sur mon site personnel !</p>
        </div>
    </div>

    <div class="p-8">
        <CardSection title="Projets Actuels">
            <Card title="Smart" date="2023-Aujourd'hui" description="Un Cloudsystem abstrait développé en Java">
                <a class="btn">Github</a>
                <a class="btn btn-info">Documentation</a>
            </Card>
            <Card title="Vaatigames" icon="https://vaatigames.ovh/img/vaati2.png" date="2024-Aujourd'hui" description="Une association d'hébergement cloud gratuit" >
                <a class="btn bg-purple-300 dark:bg-purple-700">Présentation</a>
            </Card>
            <Card title="DEMOCRAFT" date="2023-Aujourd'hui" description="Le premier serveur mini-jeux crossplay en europe.">
                <a class="btn btn-error">Site officiel</a>
            </Card>
            <Card title="MOODS" date="2023-Aujourd'hui" description="Streaming de mudique open source">
                <a class="btn">Github</a>
            </Card>
        </CardSection>

        <CardSection title="Anciens Projets">
            <Card title="Diamond Heberg" date="2022-2024" description="Hébergeur Cloud" >
                <a class="btn">Github</a>
            </Card>
        </CardSection>
    </div>
</Layout>
