---
import { Icon } from 'astro-icon/components'
---

<div class="lg:hidden m-2 rounded-lg bg-secondary btm-nav z-10 fixed bottom-0 right-0" style="width: 96%;">
  <a href="/"> <!-- active rounded-l-lg -->
    <Icon name="mingcute:home-6-fill" class="text-2xl"/>
  </a>
  <a href="/projects">
    <Icon name="mingcute:book-2-fill" class="text-2xl"/>
  </a>
  <a href="/experience">
    <Icon name="mingcute:flask-2-fill" class="text-2xl"/>
  </a>
  <a href="https://dsc.gg/drmcld" target="_blank">
    <Icon name="simple-icons:discord" class="text-2xl"/>
  </a>
  <button data-toggle-theme="pastel,night" data-act-class="pastel">
    <Icon name="mingcute:sun-fill" class="dark:hidden text-2xl"/>
    <Icon name="mingcute:moon-fill" class="hidden dark:block text-2xl"/>
  </button>
  </a>
</div>
