---
import { Icon } from "astro-icon/components";

const { title, icon = "simple-icons:html5", description } = Astro.props;
// If title is a string starting with http or https, treat it as an image URL
const iconIsImage = typeof icon === "string" && /^https?:\/\//i.test(icon);
---
<div class="card bg-base-200 border-2 border-neutral-content rounded-xl">
    <div class="card-body">
        <h2 class="card-title inline-flex items-center gap-1">
            {iconIsImage ? (
                <img src={icon} alt="title image" class="h-6 w-auto mr-2 rounded" />
            ) : (
                <Icon name={icon} class="text-2xl mr-2" />
            )}
            { title }
        </h2>
        <p>{description}</p>
        <div class="card-actions justify-end">
            <slot />
        </div>
    </div>
</div>