---
import { Icon } from "astro-icon/components";

const {
  titre,
  image,
  description,
} = Astro.props;
---

<div class=`relative  md:col-span-3 border-base-300 border-4 border-dashed rounded-badge bg-[url(${image})] bg-clip-padding bg-cover bg-no-repeat min-h-64`>
    <div class="md:col-span-3 border-base-300 border-4 border-dashed rounded-2xl bg-neutral m-4 p-4 bottom-0 absolute w-[90%]">
        <h1 class="text-3xl font-bold">{ titre }</h1>
        <p class="text-base">{ description }</p>
    </div>
</div>