---
import { Icon } from "astro-icon/components";
---
<div class="dock bg-base-200 rounded-t fixed md:hidden">
  <a href="/">
    <Icon name="gravity-ui:house" class="inline text-3xl" />
   <span class="dock-label">Home</span>
  </a>
  
  <a href="/projets" class="dock-active">
    <Icon name="gravity-ui:house" class="inline text-3xl" />
    <span class="dock-label">Inbox</span>
  </a>
  
  <a href="/contact">
    <Icon name="gravity-ui:house" class="inline text-3xl" />
    <span class="dock-label">Settings</span>
  </a>

  <a href="/projets">
    <Icon name="gravity-ui:house" class="inline text-3xl" />
    <span class="dock-label">Inbox</span>
  </a>
  
  <a href="/contact">
    <Icon name="gravity-ui:house" class="inline text-3xl" />
    <span class="dock-label">Settings</span>
  </a>
</div>
