---
import { Icon } from "astro-icon/components";
---
<div class="dock fixed md:hidden">
  <a href="">
    <Icon name="gravity-ui:house" class="inline text-3xl" />
   <span class="dock-label">Home</span>
  </a>
  
  <a class="dock-active">
    <Icon name="gravity-ui:house" class="inline text-3xl" />
   <span class="dock-label">Inbox</span>
  </a>
  
  <a href="/contact">
    <Icon name="gravity-ui:house" class="inline text-3xl" />
   <span class="dock-label">Settings</span>
  </button>
</div>
