---
import { Icon } from "astro-icon/components";
---

<footer class="flex md:flex-row flex-col items-center p-4 bg-primary text-primary-content lg:px-64 transition-all duration-500 ease-in-out">
  <div class="grow items-center grid-flow-col">
    <img class="h-16 w-16" src="/logo.png" alt="Funasitien's Head" />
    <p>Copyright © 2023-2025 Funasitien DreamCloud - Tout droit réservés</p>
  </div>
  <div class="flex flex-row gap-6 place-self-center md:justify-self-end">
    <a
      href="https://youtube.com/@funasitien"
      target="_blank"
      aria-label="Youtube">
      <img class="w-8 h-8 hover:scale-110 transition-all duration-100" src="/social/youtube.png"/>
    </a>
    <a
      href="https://instagram.com/fdreamcloud"
      target="_blank"
      aria-label="Instagram">
      <img class="w-8 h-8 hover:scale-110 transition-all duration-100" src="/social/instagram.png"/>
    </a>
    <a
      href="https://soundcloud.com/bydreamcloud"
      target="_blank"
      aria-label="Soundcloud"
      aria-hidden="false">
      <img class="w-8 h-8 hover:scale-110 transition-all duration-100" src="/social/soundcloud.png"/>
    </a>
    <a
      href="https://twitch.tv/fdreamcloud"
      target="_blank"
      aria-label="Twitch"
      title="Twitch">
      <img class="w-8 h-8 hover:scale-110 transition-all duration-100" src="/social/twitch.png"/>
    </a>
    <a
      href="https://dsc.gg/drmcld"
      target="_blank"
      aria-label="Discord">
      <img class="w-8 h-8 hover:scale-110 transition-all duration-100" src="/social/discord.png"/>
    </a>
  </div>
  <div class="py-6 md:py-0"></div>
</footer>
