---
import { Icon } from 'astro-icon/components'
---

<footer class="footer items-center p-4 bg-neutral text-neutral-content">
  <aside class="items-center grid-flow-col">
    <img class="h-16 w-16" src="/favicon.png">
    <p>Copyright © 2023 Funasitien DreamCloud - Tout droit réservés</p>
  </aside>
  <nav class="grid-flow-col gap-6 place-self-center md:justify-self-end">
    <a href="https://youtube.com/@funasitien" target="_blank">
      <Icon name="simple-icons:youtube" class="font-2xl"/>
    </a>
    <a href="https://instagram.com/fdreamcloud" target="_blank">
      <Icon name="simple-icons:instagram" class="font-2xl"/>
    </a>
    <a href="https://soundcloud.com/bydreamcloud" target="_blank">
      <Icon name="simple-icons:soundcloud" class="font-2xl"/>
    </a>
    <a href="https://twitch.tv/fdreamcloud" target="_blank">
      <Icon name="simple-icons:twitch" class="font-2xl"/>
    </a>
    <a href="https://dsc.gg/drmcld" target="_blank">
      <Icon name="simple-icons:discord" class="font-2xl"/>
    </a>
  </nav>
  <div class="py-6"></div>
</footer>
