---
import { Icon } from "astro-icon/components";
---

<footer class="footer items-center p-4 bg-neutral text-neutral-content">
  <aside class="items-center grid-flow-col">
    <img class="h-16 w-16" src="/favicon.png" alt="Funasitien's Head" />
    <p>Copyright © 2023 Funasitien DreamCloud - Tout droit réservés</p>
  </aside>
  <nav class="grid-flow-col gap-6 place-self-center md:justify-self-end">
    <a
      href="https://youtube.com/@funasitien"
      target="_blank"
      aria-label="Youtube">
      <Icon name="simple-icons:youtube" class="font-4xl" />
    </a>
    <a
      href="https://instagram.com/fdreamcloud"
      target="_blank"
      aria-label="Instagram">
      <Icon name="simple-icons:instagram" class="font-4xl" />
    </a>
    <a
      href="https://soundcloud.com/bydreamcloud"
      target="_blank"
      aria-label="Soundcloud"
      aria-hidden="false">
      <Icon name="simple-icons:soundcloud" class="font-4xl" />
    </a>
    <a
      href="https://twitch.tv/fdreamcloud"
      target="_blank"
      aria-label="Twitch"
      title="Twitch">
      <Icon name="simple-icons:twitch" class="font-4xl" />
    </a>
    <a
      href="https://dsc.gg/drmcld"
      target="_blank"
      aria-label="Discord">
      <Icon name="simple-icons:discord" class="font-4xl"/>
    </a>
  </nav>
  <div class="py-6 md:py-0"></div>
</footer>
