---
import { Icon } from "astro-icon/components";
---

<div class="hidden lg:flex fixed top-0 z-10">
  <button
    class="p-4"
    data-toggle-theme="pastel,night"
    data-act-class="pastel"
    aria-label="Theme Switcher">
    <Icon name="mingcute:sun-fill" class="dark:hidden text-5xl" />
    <Icon name="mingcute:moon-fill" class="hidden dark:block text-5xl" />
  </button>
</div>

<div class="hidden lg:flex fixed top-0 right-0 m-4 z-10">
  <a class="btn text-lg" href="/">
    <Icon name="mingcute:house-fill" /> Accueil
  </a>
  <a class="btn text-lg ml-4" href="/projects">
    <Icon name="mingcute:science-line" /> Projets
  </a>
  <a class="btn text-lg ml-4" href="/experience">
    <Icon name="mingcute:flask-2-fill" /> Experience
  </a>
</div>
