---
import { Icon } from "astro-icon/components";
---

<div
  class="navbar bg-transparent md:px-64">
  <div class="navbar-start m-4">
    <a href="/" class="text-xl py-2 px-4 rounded-btn hover:border-neutral-content hover:bg-neutral inline-flex flex-wrap items-center gap-4 border-base-300 border-4 border-dashed transition-all duration-500 ease-in-out">
      Funasitien
    </a>
  </div>

  <div class="navbar-end">
    <div class="max-sm:hidden py-1 px-4 rounded-btn hover:bg-neutral hover:border-neutral-content inline-flex flex-wrap items-center gap-4 border-base-300 border-4 border-dashed transition-all duration-500 ease-in-out">
      <a class="link link-hover decoration-dashed decoration-2 inline-flex items-center gap-2">
        <img class="w-8 h-8" src="/icons/home.png" alt="Home" />
        Accueil
      </a>
      <a class="link link-hover decoration-dashed decoration-2 inline-flex items-center gap-2">
        <img class="w-8 h-8" src="/icons/books.png" alt="Books" />
        Projets
      </a>
      <a class="link link-hover decoration-dashed decoration-2 inline-flex items-center gap-2">
        <img class="w-8 h-8" src="/icons/head.png" alt="Head White" />
        Contact
      </a>
      <button
        class="p-1 pr-2"
        data-toggle-theme="pastel,night"
        data-act-class="pastel"
        aria-label="Theme Switcher">
        <img class="w-8 h-8 dark:hidden" src="/icons/light.png" alt="White Them Palette" />
        <img class="w-8 h-8 hidden dark:block" src="/icons/dark.png" alt="Dark Them Palette" />
      </button>
    </div>
  </div>
</div>
