---
import { Icon } from "astro-icon/components";
---

<div class="fixed min-w-full z-50 block">
  <div class="navbar bg-transparent px-4 lg:px-64 w-full">
    <div class="navbar-start">
      <a
        href="/"
        class="bg-base-100 text-xl py-2 px-4 rounded-4xl hover:border-primary-content hover:bg-primary inline-flex flex-wrap items-center gap-1 border-base-300 border-4 border-dashed transition-all duration-500 ease-in-out">
        <img
          class="w-8 h-8"
          src="/logo.png"
          alt="Funasitien's pixel art head"
        />
        Funasitien
      </a>
    </div>

    <div class="navbar-end">
      <div
        class="bg-base-100 md:hidden py-1 px-4 rounded-4xl hover:bg-primary hover:border-primary-content inline-flex flex-wrap items-center gap-4 border-base-300 border-4 border-dashed transition-all duration-500 ease-in-out">
        <button onclick="toggleDropdown()">
          <img class="w-8 h-8" src="/icons/balloons.png" alt="Menu Hamburger" />
        </button>
      </div>
      <div
        class="bg-base-100 max-md:hidden py-1 px-4 rounded-4xl hover:bg-primary hover:border-primary-content inline-flex flex-wrap items-center gap-4 border-base-300 border-4 border-dashed transition-all duration-500 ease-in-out">
        <a
          href="/" class="link link-hover decoration-dashed decoration-2 inline-flex items-center gap-2" href="/">
          <img class="h-8" src="/icons/home.png" alt="Home" />
          Accueil
        </a>
        <a
          class="link link-hover decoration-dashed decoration-2 inline-flex items-center gap-2" href="/projets">
          <img class="w-8 h-8" src="/icons/books.png" alt="Books" />
          Projets
        </a>
        <a
          class="link link-hover decoration-dashed decoration-2 inline-flex items-center gap-2" href="/contact">
          <img class="w-8 h-8" src="/icons/head.png" alt="Head White" />
          Contact
        </a>
        <button
          class="p-1 pr-2"
          data-toggle-theme="superlight,superdark"
          data-act-class="superlight"
          aria-label="Theme Switcher">
          <img
            class="w-8 h-8 dark:hidden"
            src="/icons/light.png"
            alt="White Them Palette"
          />
          <img
            class="w-8 h-8 hidden dark:block"
            src="/icons/dark.png"
            alt="Dark Them Palette"
          />
        </button>
      </div>
    </div>
  </div>
    <ul
      id="dropdownMenu"
      class="menu bg-base-200 rounded-4xl w-full mx-4 hidden border-base-300 border-4 border-dashed transition-all duration-500 ease-in-out hover:border-primary-content">
      <li>
        <a href="/" class="inline-flex items-center gap-2" href="/">
          <img class="h-8" src="/icons/home.png" alt="Home" />
          Accueil
        </a>
      </li>
      <li>
        <a class="inline-flex items-center gap-2" href="/projets">
          <img class="w-8 h-8" src="/icons/books.png" alt="Books" />
          Projets
        </a>
      </li>
      <li>
        <a class="decoration-2 inline-flex items-center gap-2" href="/contact">
          <img class="w-8 h-8" src="/icons/head.png" alt="Head White" />
          Contact
        </a>
      </li>
      <li>
        <button
          data-toggle-theme="superlight,superdark"
          data-act-class="superlight"
          aria-label="Theme Switcher">
          <img
            class="w-8 h-8 dark:hidden"
            src="/icons/light.png"
            alt="White Them Palette"
          />
          <img
            class="w-8 h-8 hidden dark:block"
            src="/icons/dark.png"
            alt="Dark Them Palette"
          />
          Changer de Thème
        </button>
      </li>
    </ul>
</div>

<script is:raw>
  function toggleDropdown() {
    const dropdownMenu = document.getElementById("dropdownMenu");
    dropdownMenu.classList.toggle("hidden");
  }
</script>
