---
import { Icon } from "astro-icon/components";
import Carte from "./Carte.astro";
---
<div class="grid grid-cols-1 md:grid-cols-6 lg:grid-cols-9 gap-4 mb-2">
    <Carte titre="DEMOCRAFT" image="/projets/demo.png" description="Serveur Minecraft mini-jeux & crossplay" link="/demo"/>
    <Carte titre="VAATIGAMES" image="/projets/vaatig.png" description="Hébergeur philanthropique de serveurs de jeu" link="/vaatig"/>
    <Carte titre="MOOD" image="/projets/mood.png" description="Plateforme de streaming de musique ouverte aux autres" link="/mood"/>
</div>
