---
import Layout from "../../layouts/core.astro";
import { Icon } from "astro-icon/components";

import HeroLeft from "../../components/HeroLeft.astro";
import HeroRight from "../../components/HeroRight.astro";
import ProjectsGrid from "../../components/ProjectsGrid.astro";
---

<Layout>
<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 dark:bg-gray-800 py-6 sm:py-12">
  <img src="/core/light_beams.jpg" alt="" class="bolck dark:hidden absolute top-1/2 left-1/2 max-h-screen max-w-none -translate-x-1/2 -translate-y-1/2" />
  <img src="/core/dark_beams.jpg" alt="" class="hidden dark:block absolute top-1/2 left-1/2 max-h-screen max-w-none -translate-x-1/2 -translate-y-1/2" />
  <div class="absolute inset-0 bg-[url(/core/grid.svg)] bg-center"></div>
  <div class="fixed absolute bottom-0 md:bottom-5 z-50 flex justify-center w-full min-w-full">
    <div class="bg-base-300 md:rounded-2xl p-2 flex justify-center gap-2 max-sm:w-full">
    <a href="">
      <img src="/icons/light.png" class="w-12 h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary transition-all duration-100 p-1 rounded-xl"/>
    </a>
    <a href="">
      <img src="/icons/cube.png" class="w-12 h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary transition-all duration-100 p-1 rounded-xl"/>
    </a>
    <a href="">
      <img src="/icons/pixel.png" class="w-12 h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary transition-all duration-100 p-1 rounded-xl"/>
    </a>
    <a href="/core">
      <img src="/icons/disc.png" class="w-12 h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary transition-all duration-100 p-1 rounded-xl"/>
    </a>
    </div>
  </div> 

  <div class="flex flex-col md:flex-row p-2 md:p-20">
    <div class="flex w-full md:w-2/3 max-sm:hidden"></div>
    <div class="flex w-full h-full md:w-1/3">    
    <div class="mask mask-custom bg-base-content h-full md:h-[30rem] w-full md:w-[30rem] z-50 rounded-badge text-base-300">
      <iframe class="w-full h-full bg-base-300"  title="Kart 1" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/6007809ac3c0448db4465b67e64657c5/embed?autostart=1&transparent=1"> </iframe>
    </div>
  </div>
  </div>
</div>
</Layout>
