---
import Layout from "../../layouts/core.astro";
import List from "../../components/SketchfabList.astro";
---

<Layout>
  <div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 dark:bg-gray-800 py-6 sm:py-12">
    <img src="/core/light_beams.jpg" alt="" class="bolck dark:hidden absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2" />
    <img src="/core/dark_beams.jpg" alt="" class="hidden dark:block absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2" />
    
    <div class="absolute inset-0 bg-[url(/core/grid.svg)] bg-center"></div>
    <div
      class="fixed start-0 bottom-0 md:bottom-5 z-50 flex justify-center w-full min-w-full"
    >
      <div
        class="bg-base-300 md:rounded-2xl p-2 flex justify-center gap-2 max-sm:w-full"
      >
       <div class="tooltip" data-tip="Musique">
          <a href="/core">
            <img
              src="/icons/home.png"
              class="w-auto h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary transition-all duration-100 p-1"
            />
          </a>
        </div>
        <div class="tooltip" data-tip="Design">
          <a href="">
            <img
              src="/icons/light.png"
              class="w-12 h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary transition-all duration-100 p-1"
            />
          </a>
        </div>
        <div class="tooltip" data-tip="Modèle 3D">
          <a href="/core/3d">
            <img
              src="/icons/cube.png"
              class="w-12 h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary transition-all duration-100 p-1"
            />
          </a>
        </div>
        <div class="tooltip" data-tip="Pixel Art">
          <a href="/core/pixel">
            <img
              src="/icons/pixel.png"
              class="w-12 h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary transition-all duration-100 p-1"
            />
          </a>
        </div>
        <div class="tooltip" data-tip="Musique">
          <a href="/core/music">
            <img
              src="/icons/disc.png"
              class="w-12 h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary transition-all duration-100 p-1"
            />
          </a>
        </div>
      </div>
    </div>

    <div class="absolute flex flex-col md:flex-row justify-center p-2 md:p-20 z-20 h-screen w-full gap-12">
      <div id="bdiv" class="max-sm:min-h-[30%] flex w-full h-3/5 md:w-3/5 z-30 md:h-full">
        <ul
          class="list block bg-base-100 rounded-box shadow-md overflow-auto w-full h-fit my-16"
        >
          <List titre = "Kart Rouge"
          icon = "tabler:car-filled"
          icon_bg = "bg-red-300 dark:bg-red-800"
          data="6007809ac3c0448db4465b67e64657c5">
          <div class="badge badge-xs badge-error">🌟 DEMOCRAFT</div>
          <div class="badge badge-xs">🚗 Véhicule</div>
        </List>
        <List titre = "Platine"
          icon = "tabler:disc-filled"
          icon_bg = "bg-purple-300 dark:bg-purple-800"
          data="9fb7fa79afbf47868c793dca10a5db93">
          <div class="badge badge-xs badge-error">🌟 DEMOCRAFT</div>
          <div class="badge badge-xs">🎹 Instrument</div>
        </List>
        <List titre = "Guitare"
          icon = "tabler:brand-netease-music"
          icon_bg = "bg-sky-300 dark:bg-sky-800"
          data="9aef4e3ca0434bb5a3f52e8ff14d179d">
          <div class="badge badge-xs badge-error">🌟 DEMOCRAFT</div>
          <div class="badge badge-xs">🎹 Instrument</div>
        </List>
        </ul>
      </div>
      <div id="idiv" class="max-sm:min-h-[45%] flex flex-col w-full h-1/3 md:w-1/3 z-30 md:h-full max-sm:hidden">
        <div class="">
        <button class="btn btn-ghost" onclick="hideI()">O</button>
        </div>
        <div
          class="mask mask-custom bg-base-content h-full w-full z-50 rounded-4xl text-base-300"
        >
          <iframe
            class="w-full h-full bg-base-300 iframe"
            title="Kart 1"
            frameborder="0"
            allowfullscreen
            allow="autoplay; fullscreen; xr-spatial-tracking"
            xr-spatial-tracking
            execution-while-out-of-viewport
            execution-while-not-rendered
            web-share
            src="https://sketchfab.com/models/6007809ac3c0448db4465b67e64657c5/embed?autostart=1&transparent=1"
          >
          </iframe>
        </div>
      </div>
    </div>
  </div>

  <script is:inline>
    const buttons = document.querySelectorAll("button.core");
    const iframe = document.querySelector(".iframe");
    const idiv = document.querySelector("#idiv");
    const bdiv = document.querySelector("#bdiv");

    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        const coreValue = button.getAttribute("data-core");
        if (coreValue) {
          iframe.src = coreValue;
          bdiv.classList.add("max-sm:hidden")
          idiv.classList.remove("max-sm:hidden")
        }
      });
    });

    function hideI() {
      bdiv.classList.remove("max-sm:hidden")
      idiv.classList.add("max-sm:hidden")
    }
  </script>
</Layout>
