---
import Layout from "../../layouts/core.astro";
import { Icon } from "astro-icon/components";

import HeroLeft from "../../components/HeroLeft.astro";
import HeroRight from "../../components/HeroRight.astro";
import ProjectsGrid from "../../components/ProjectsGrid.astro";
---

<Layout>
<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 dark:bg-gray-800 py-6 sm:py-12">
  <img src="/core/light_beams.jpg" alt="" class="bolck dark:hidden absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2" width="1308" />
  <img src="/core/dark_beams.jpg" alt="" class="hidden dark:block absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2" width="1308" />
  <div class="absolute inset-0 bg-[url(/core/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]">
  </div>
</div>
</Layout>
