---
import Layout from "../../layouts/core.astro";
import { Icon } from "astro-icon/components";

import HeroLeft from "../../components/HeroLeft.astro";
import HeroRight from "../../components/HeroRight.astro";
import ProjectsGrid from "../../components/ProjectsGrid.astro";
---

<Layout>
<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 dark:bg-gray-800 py-6 sm:py-12">
  <img src="/core/light_beams.jpg" alt="" class="bolck dark:hidden absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2" />
  <img src="/core/dark_beams.jpg" alt="" class="hidden dark:block absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2" />
  <div class="absolute inset-0 bg-[url(/core/grid.svg)] bg-center"></div>
  <div
      class="fixed start-0 bottom-0 md:bottom-5 z-50 flex justify-center w-full min-w-full"
    >
      <div
        class="bg-base-300 md:rounded-2xl p-2 flex justify-center gap-2 max-sm:w-full"
      >
        <div class="tooltip" data-tip="Design">
          <a href="">
            <img
              src="/icons/light.png"
              class="w-12 h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary transition-all duration-100 p-1 rounded-xl"
            />
          </a>
        </div>
        <div class="tooltip" data-tip="Modèle 3D">
          <a href="/core/3d">
            <img
              src="/icons/cube.png"
              class="w-12 h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary transition-all duration-100 p-1 rounded-xl"
            />
          </a>
        </div>
        <div class="tooltip" data-tip="Pixel Art">
          <a href="/core/pixel">
            <img
              src="/icons/pixel.png"
              class="w-12 h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary transition-all duration-100 p-1 rounded-xl"
            />
          </a>
        </div>
        <div class="tooltip" data-tip="Musique">
          <a href="/core/music">
            <img
              src="/icons/disc.png"
              class="w-12 h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary transition-all duration-100 p-1 rounded-xl"
            />
          </a>
        </div>
      </div>
    </div>

  <div class="flex flex-row p-20">
    <div class="flex w-2/3"></div>
    <div class="mask mask-custom bg-base-content md:h-[30rem] md:w-[30rem] z-50 rounded-badge p-6 text-base-100">
      zs
    </div>
  </div>
</div>
</Layout>
