---
import Layout from "../../layouts/core.astro";
import List from "../../components/SoundcloudList.astro";
---

<Layout>
  <div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 dark:bg-gray-800 py-6 sm:py-12">
    <img src="/core/light_beams.jpg" alt="" class="bolck dark:hidden absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2" />
    <img src="/core/dark_beams.jpg" alt="" class="hidden dark:block absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2" />
    
    <div class="absolute inset-0 bg-[url(/core/grid.svg)] bg-center"></div>
    <div
      class="fixed start-0 bottom-0 md:bottom-5 z-50 flex justify-center w-full min-w-full"
    >
      <div
        class="bg-base-300 md:rounded-2xl p-2 flex justify-center gap-2 max-sm:w-full"
      >
        <div class="tooltip" data-tip="Design">
          <a href="">
            <img
              src="/icons/light.png"
              class="w-12 h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary transition-all duration-100 p-1 rounded-xl"
            />
          </a>
        </div>
        <div class="tooltip" data-tip="Modèle 3D">
          <a href="/core/3d">
            <img
              src="/icons/cube.png"
              class="w-12 h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary transition-all duration-100 p-1 rounded-xl"
            />
          </a>
        </div>
        <div class="tooltip" data-tip="Pixel Art">
          <a href="/core/pixel">
            <img
              src="/icons/pixel.png"
              class="w-12 h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary transition-all duration-100 p-1 rounded-xl"
            />
          </a>
        </div>
        <div class="tooltip" data-tip="Musique">
          <a href="/core/music">
            <img
              src="/icons/disc.png"
              class="w-12 h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary transition-all duration-100 p-1 rounded-xl"
            />
          </a>
        </div>
      </div>
    </div>

    <div class="absolute flex flex-col md:flex-row justify-center p-2 md:p-20 z-20 h-screen w-full gap-12">
      <div class="max-sm:min-h-[30%] flex w-full h-3/5 md:w-3/5 z-30 md:h-full">
        <ul
          class="list block bg-base-100 rounded-box shadow-md overflow-auto w-full h-fit my-16"
        >
          <List
          titre = "Bule"
          icon = "tabler:car-filled"
          icon_bg = "bg-red-300 dark:bg-red-800"
          link = "https://soundcloud.com/bydreamcloud/bule"
          data="1199421853">
          <div class="badge badge-xs badge-success">🍃 Chill Time</div>
        </List>
        <List
          titre = "Lovibe - Snow Edition"
          icon = "tabler:car-filled"
          icon_bg = "bg-red-300 dark:bg-red-800"
          link = "https://soundcloud.com/bydreamcloud/lovibe-snow-edition"
          data="1200310972">
          <div class="badge badge-xs badge-warning">🍃 Chill Time Deluxe</div>
        </List>
        </ul>
      </div>
      <div class="max-sm:min-h-[45%] flex w-full h-1/3 md:w-1/3 z-30 md:h-full">
        <div
          class="mask mask-custom bg-base-content h-full w-full z-50 rounded-4xl text-base-300 flex items-center justify-center"
        >
          <iframe
            class="w-full bg-base-300 iframe"
            title="Kart 1"
            height="450"
            allowfullscreen
            allow="autoplay; fullscreen; xr-spatial-tracking"
            xr-spatial-tracking
            execution-while-out-of-viewport
            execution-while-not-rendered
            web-share
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1199421853&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"
          >
          </iframe>
        </div>
      </div>
    </div>
  </div>

  <script is:inline>
    const buttons = document.querySelectorAll("button.core");
    const iframe = document.querySelector(".iframe");

    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        const coreValue = button.getAttribute("data-core");
        if (coreValue) {
          iframe.src = coreValue;
        }
      });
    });
  </script>
</Layout>