---
import Layout from "../../layouts/core.astro";
import List from "../../components/SoundcloudList.astro";
import { Icon } from "astro-icon/components";
---

<Layout>
  <div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 dark:bg-gray-800 py-6 sm:py-12">
    <img src="/core/light_beams.jpg" alt="" class="bolck dark:hidden absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2" />
    <img src="/core/dark_beams.jpg" alt="" class="hidden dark:block absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2" />
    
    <div class="absolute inset-0 bg-[url(/core/grid.svg)] bg-center"></div>
    <div
      class="fixed start-0 bottom-0 md:bottom-5 z-50 flex justify-center w-full min-w-full"
    >
      <div
        class="bg-base-300 md:rounded-2xl p-2 flex justify-center gap-2 max-md:w-full"
      >
       <div class="tooltip" data-tip="Accueil">
          <a href="/core">
            <img
              src="/icons/home.png"
              class="w-auto h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary hover:rounded-xl transition-all duration-100 p-1"
            />
          </a>
        </div>
        <div class="tooltip" data-tip="Design">
          <a href="/core/design">
            <img
              src="/icons/light.png"
              class="w-12 h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary hover:rounded-xl transition-all duration-100 p-1"
            />
          </a>
        </div>
        <div class="tooltip" data-tip="Modèles 3D">
          <a href="/core/3d">
            <img
              src="/icons/cube.png"
              class="w-12 h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary hover:rounded-xl transition-all duration-100 p-1"
            />
          </a>
        </div>
        <div class="tooltip" data-tip="Pixel Art">
          <a href="/core/pixel">
            <img
              src="/icons/pixel.png"
              class="w-12 h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary hover:rounded-xl transition-all duration-100 p-1"
            />
          </a>
        </div>
        <div class="tooltip" data-tip="Musique">
          <a href="/core/music">
            <img
              src="/icons/disc.png"
              class="w-12 h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary hover:rounded-xl transition-all duration-100 p-1"
            />
          </a>
        </div>
      </div>
    </div>

    <div class="absolute flex flex-col md:flex-row justify-center p-2 md:p-20 z-20 h-screen w-full gap-12">
      <div id="bdiv" class="flex flex-col w-full z-30 h-4/5 md:h-full">
        <div class="flex w-full text-2xl md:text-4xl font-bold items-center gap-4">
          <img
              src="/icons/pixel.png"
              class="w-12 h-12 md:w-16 md:h-16"
            />
            Pixel Art
        </div>
      </div>
    </div>
  </div>

  <script is:inline>
    const buttons = document.querySelectorAll("button.core");
    const iframe = document.querySelector(".iframe");
    const idiv = document.querySelector("#idiv");
    const bdiv = document.querySelector("#bdiv");

    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        const coreValue = button.getAttribute("data-core");
        if (coreValue) {
          iframe.src = coreValue;
          bdiv.classList.add("max-md:hidden")
          idiv.classList.remove("max-md:hidden")
          document.querySelector("#title").innerHTML = button.getAttribute("data-titre");
          document.querySelector("#description").innerHTML = button.getAttribute("data-description");
        }
      });
    });

    function hideI() {
      bdiv.classList.remove("max-md:hidden")
      idiv.classList.add("max-md:hidden")
    }
  </script>
</Layout>
