@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: oklch(80.9% 0.105 251.813);
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.3125rem;
  --size-field: 0.3125rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}

:root {
  --font-sans: "Plus Jakarta Sans Variable"
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "JetBrains Mono Variable" !important;
}