@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Work+Sans:wght@500&display=swap');
@import url('https: //cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('../src/tailwind.css');


html {
    font-family: 'Work Sans', sans-serif;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ping {

    75%,
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.Montserrat {
    font-family: 'Montserrat', sans-serif;
}

.WorkSans {
    font-family: 'Work Sans', sans-serif;
}

.w-fill {
    width: -webkit-fill-available;
}
