@use "./base.scss";

.button-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.2rem;

    @media (min-width: 639px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));

    }
}

h1 strong {
    font-weight: 800;
}
