@use "./base.scss";

.button-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.2rem;

    @media (min-width: 639px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));

    }
}

.signature-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;

    @media (min-width: 639px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));

    }
}

h1 strong, .page-title a {
    font-weight: 800;
}

.callout {
    &[data-callout="custom"] {
        --color: #db42c7;
        --border: #db42d644;
        --bg: #db42d810;
        --callout-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z' /%3E%3Cpath fill='currentColor' d='M19.997 2.929a1 1 0 0 1-.926 1.069L13 4.43V7h3.382a2 2 0 0 1 1.789 1.106l2.027 4.055a5 5 0 0 1 .336 3.61l-1.365 4.778A2 2 0 0 1 17.246 22H6.754a2 2 0 0 1-1.923-1.45l-1.365-4.78a5 5 0 0 1 .335-3.609L5.83 8.106A2 2 0 0 1 7.618 7H11V4.574l-5.929.423a1 1 0 1 1-.142-1.994l14-1a1 1 0 0 1 1.068.926M7.617 9l-2 4h12.765l-2-4H7.618Z' /%3E%3C/g%3E%3C/svg%3E");
    }
}