@use "./base.scss";

.button-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.4rem;
    margin: 0 1rem 0 0;

    @media (min-width: 639px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin: 0rem;
    }
}
