---
import Navigation from "../components/Navigation.astro";

import { ClientRouter } from 'astro:transitions';

import '@fontsource-variable/jetbrains-mono';
import '@fontsource-variable/plus-jakarta-sans';
import "../assets/app.css";

const {
  title = "Funasitien",
  description = "Funasitien's super dupper website is amazing !",
} = Astro.props;
---

<html lang="fr" data-theme="superlight" class="selection:bg-sky-200 selection:text-sky-700 transition-all duration-500 ease-in-out ">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/logo.ico">
    <link rel="icon" type="image/png" href="/logo.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="stylesheet" href="/font/Minecraft-StandardGalacticAlphabet.css" />
    <title>Funasitien - {title}</title>
    <meta content=`${title} - Funasitien` property="og:title" />
    <meta content={description} property="og:description" />
    <meta content="https://funa.dev" property="og:url" />
    <meta content="https://funa.dev/logo.png" property="og:image" />
    <meta content="#43B581" data-react-helmet="true" name="theme-color" />
    <script is:inline>
      // ☝️ This script prevent the FART effect.
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "superlight");
      } else
        document.documentElement.setAttribute(
          "data-theme",
          localStorage.getItem("theme")
        );
    </script>
    <script>
      import { themeChange } from "theme-change";
      themeChange();
    </script>
    <ClientRouter />
  </head>
  <body class="bg-base-300 min-h-screen flex flex-col py-4">
    <div class="fixed top-0 left-0 w-64 z-50 p-4 pt-4 hidden lg:block">
      <Navigation />
    </div>
    <div class="flex-1 bg-base-100 border-2 border-neutral-content rounded-xl mx-4 lg:mx-64 p-4 overflow-y-auto">
      <slot />
    </div>
  </body>
</html>
