---
import "@fontsource/poppins";
import "@fontsource/poppins/800.css";
import BottomNav from "../components/BottomNavbar.astro";
import Header from "../components/Header.astro";

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/AstroClouds/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/AstroClouds/font/font.css" />
    <title>{frontmatter.title}</title>
    <script is:inline>
      // ☝️ This script prevent the FART effect.
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "night");
      } else
        document.documentElement.setAttribute(
          "data-theme",
          localStorage.getItem("theme")
        );
    </script>
    <script>
      import { themeChange } from "theme-change";
      themeChange();
    </script>
  </head>
  <style>
    body {
      font-family: "Poppins", sans-serif;
      transition: all 0.25s cubic-bezier(0.427, 0.073, 0.105, 0.997) 0.1s;
    }
  </style>
  <body>
    <Header />
    <main class="mx-2 lg:mx-16 my-20">
      <slot />
    </main>
  </body>
  <BottomNav />
</html>
